# Kernel environment
# We want an older version with a super long license for effect
numpy<=2.3.0
# Use a local install of our package
-e ./arrow-to-knee

# Kernel
ipykernel

# System dependencies
jupyter-server
hatch

# Docs
jupyter-book

